.loca-x{
    width: 294px;
}
.loca-name{
	float: left;
}
.loca-mobile{
	float: right;
}
.add-ad{
	height: 100px;
	width: 100%;
	/* position: absolute; */
    width: 100%;
    bottom: 50px;
    padding-left: auto;
    text-align: center;
}
.weui-panel__hd{
	background-color: #efeff4;
	font-size: initial;
	font-weight: 600;
}
/* element.style{
	overflow: auto;
} */
html{
	overflow: auto;
}
.page {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4rem;
}
