.weui-panel__hd{
	background-color: #efeff4;
	font-size: initial;
	font-weight: 600;
}

.weui-cells {
	height: 5px;
	background-color: #F5F5F5;
	margin-top: 0;
}

.weui-media-box__title{
	font-size: initial;
	font-weight: 600;
}
html{
	overflow: auto;
}