.weui-panel__hd {
	color: grey;
	font-size: 20px;
	background-color: #F5F5F5;
}

.weui-cell__ft{
	font-size: 20px;
}

.weui-cell__bd{
	font-size: 20px;
}
.weui-label{
	font-size: 20px;
}
.weui-media-box__info__meta {
    float: right;
    padding-right: 1em;
}
.page {

}
.btn_bottom {
    position: fixed;
    width: 94%;
	height: 30px;
    bottom: 0;
	margin-bottom: 20%;
	
}

.weui-label1{
	font-size: 20px;
	color: #000000;
}