.weui-panel__hd{
	background-color: #efeff4;
	font-size: initial;
	font-weight: 600;
}

.weui-cell__ft{
	font-size: 20px;
}

.weui-cell__bd{
	font-size: 20px;
}
.weui-label{
	font-size: 20px;
}
.weui-media-box__info__meta {
    float: right;
    padding-right: 1em;
}
.btn_bottom {
	/* overflow: visible; */
	/*float:right;*/
    /* margin:inherit; */
    /*width: 30%;
	margin-left: 50%;*/
	position: absolute;
    right: 20px;
    bottom: 0px;
}
.page {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4rem;
}

label.weui-label1{
	width: 30%;
	font-size: 20px;
	color: #000000;
}
.loca-x{
    width: 294px;
}
.loca-name{
	float: left;
}
.loca-mobile{
	float: right;
}
.w-item{
	overflow-y: auto;
}
html{
	overflow: auto;
}

element.style{
	overflow: auto;
}