.weui-panel__hd{
	background-color: #efeff4;
	font-size: initial;
	font-weight: 600;
}

.weui-cell__ft{
	font-size: 20px;
}

.weui-cell__bd{
	font-size: 20px;
}
.weui-label{
	font-size: 20px;
}
.weui-media-box__info__meta {
    float: right;
    padding-right: 1em;
}
.page {
	
}
.btn_bottom {
    position: absolute;
    width: 94%;
	height: 100px;
    bottom: 90;
	margin-bottom: 10%;
}

.weui-label1{
	font-size: 20px;
	color: #000000;
}
